<div class="feed-list col-md-8">
  <ol>
    <% feeds.each(function(feed) { %>
      <li><a href="#/feeds/<%= feed.get("id") %>"><%= feed.get("title") %></a></li>
    <% }) %>
  </ol>
</div>
<div class="feed-form col-md-4">
  <form id="submit-form">
    <label>
      Add a Feed!
      <input type="text" name="feed[url]">
    </label>

    <input type="submit" value="Add Feed" class="btn btn-danger has-spinner">
  </form>
</div>